/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/container.css");
@import url("components/buttons.css");
@import url("components/banner.css");
@import url('components/avatar.css');
@import url('components/cards.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #2a2e32;
}

h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.white {
  color: white;
}

/* Custom design below! */

